# Data Cleaner for 2024 Data

In [5]:
import pandas as pd
import re

In [15]:
teams24 = pd.read_csv('./data/2024tourn.csv')

In [16]:
teams24.head()

,RK,TEAM,CONF,G,REC,ADJOE,ADJDE,BARTHAG,EFG%,EFGD%,...,FTR,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,ADJ T.,WAB
0,1,"Houston\n 1 seed, ✅",B12,34,30-4\n15–3,119.1\n16,85.7\n1,.9778\n1,49.7\n228,44.0\n2,...,29.9\n260,39.0\n308,48.4\n260,43.4\n3,34.7\n139,30.0\n13,36.6\n201,40.9\n294,63.4\n349,10.4\n3
1,2,"Connecticut\n 1 seed, ✅",BE,34,31-3\n18–2,126.9\n1,93.8\n14,.9700\n2,57.1\n6,45.1\n3,...,33.3\n162,32.5\n173,58.5\n6,43.7\n6,36.7\n31,31.9\n61,40.9\n87,33.2\n47,64.6\n325,11.0\n1
2,3,"Purdue\n 1 seed, ✅",B10,33,29-4\n17–3,126.2\n2,94.8\n17,.9640\n3,56.0\n13,47.7\n43,...,42.8\n8,23.0\n10,53.2\n69,48.1\n76,40.8\n2,31.4\n41,35.0\n243,37.2\n184,67.6\n168,10.9\n2
3,4,"Iowa St.\n 2 seed, ✅",B12,34,27-7\n13–5,113.5\n51,86.7\n2,.9569\n4,51.9\n106,47.1\n28,...,36.1\n92,35.2\n249,51.7\n117,46.9\n44,34.9\n124,31.5\n48,32.0\n301,45.0\n353,67.6\n170,6.7\n4
4,5,"Auburn\n 4 seed, ✅",SEC,34,27-7\n13–5,120.7\n10,92.2\n5,.9569\n5,54.1\n40,43.4\n1,...,38.2\n48,41.0\n331,54.9\n29,42.8\n1,35.2\n109,29.8\n9,37.5\n177,33.3\n50,69.9\n58,5.4\n9

In [17]:
teams24['SEED'] = teams24.apply(lambda row: row['TEAM'].split('\n')[1], axis=1)
teams24['TEAM'] = teams24.apply(lambda row: row['TEAM'].split('\n')[0], axis=1)

# for col in teams24.columns:
#     if col != 'TEAM':
#         teams24[col] = pd.to_numeric(teams24[col])

#

In [18]:
teams24.head()

,RK,TEAM,CONF,G,REC,ADJOE,ADJDE,BARTHAG,EFG%,EFGD%,...,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,ADJ T.,WAB,SEED
0,1,Houston,B12,34,30-4\n15–3,119.1\n16,85.7\n1,.9778\n1,49.7\n228,44.0\n2,...,39.0\n308,48.4\n260,43.4\n3,34.7\n139,30.0\n13,36.6\n201,40.9\n294,63.4\n349,10.4\n3,"1 seed, ✅"
1,2,Connecticut,BE,34,31-3\n18–2,126.9\n1,93.8\n14,.9700\n2,57.1\n6,45.1\n3,...,32.5\n173,58.5\n6,43.7\n6,36.7\n31,31.9\n61,40.9\n87,33.2\n47,64.6\n325,11.0\n1,"1 seed, ✅"
2,3,Purdue,B10,33,29-4\n17–3,126.2\n2,94.8\n17,.9640\n3,56.0\n13,47.7\n43,...,23.0\n10,53.2\n69,48.1\n76,40.8\n2,31.4\n41,35.0\n243,37.2\n184,67.6\n168,10.9\n2,"1 seed, ✅"
3,4,Iowa St.,B12,34,27-7\n13–5,113.5\n51,86.7\n2,.9569\n4,51.9\n106,47.1\n28,...,35.2\n249,51.7\n117,46.9\n44,34.9\n124,31.5\n48,32.0\n301,45.0\n353,67.6\n170,6.7\n4,"2 seed, ✅"
4,5,Auburn,SEC,34,27-7\n13–5,120.7\n10,92.2\n5,.9569\n5,54.1\n40,43.4\n1,...,41.0\n331,54.9\n29,42.8\n1,35.2\n109,29.8\n9,37.5\n177,33.3\n50,69.9\n58,5.4\n9,"4 seed, ✅"

In [19]:
for col in teams24.columns:
    try:
        teams24[col] = teams24.apply(lambda row: row[col].split('\n')[0], axis=1)
    except AttributeError:
        pass

In [20]:
teams24.head()

,RK,TEAM,CONF,G,REC,ADJOE,ADJDE,BARTHAG,EFG%,EFGD%,...,FTRD,2P%,2P%D,3P%,3P%D,3PR,3PRD,ADJ T.,WAB,SEED
0,1,Houston,B12,34,30-4,119.1,85.7,.9778,49.7,44.0,...,39.0,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,"1 seed, ✅"
1,2,Connecticut,BE,34,31-3,126.9,93.8,.9700,57.1,45.1,...,32.5,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,"1 seed, ✅"
2,3,Purdue,B10,33,29-4,126.2,94.8,.9640,56.0,47.7,...,23.0,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,"1 seed, ✅"
3,4,Iowa St.,B12,34,27-7,113.5,86.7,.9569,51.9,47.1,...,35.2,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,"2 seed, ✅"
4,5,Auburn,SEC,34,27-7,120.7,92.2,.9569,54.1,43.4,...,41.0,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,"4 seed, ✅"

In [26]:
teams24['W'] = teams24.apply(lambda row: row['REC'].split('-')[0], axis=1)
teams24['WIN_PCT'] = teams24['W'].astype(int)/teams24['G']
teams24.drop(['G', 'W'], inplace=True, axis=1)
teams24.rename(columns={"EFG%": "EFG_O", "EFGD%": "EFG_D", "2P%" : "2P_O", "2P%D" : "2P_D", "3P%" : "3P_O", "3P%D" : "3P_D", "ADJ T." : "ADJ_T"}, inplace=True)
teams24.head()

,RK,TEAM,CONF,REC,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,SEED,WIN_PCT
0,1,Houston,B12,30-4,119.1,85.7,.9778,49.7,44.0,13.7,...,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,"1 seed, ✅",0.882353
1,2,Connecticut,BE,31-3,126.9,93.8,.9700,57.1,45.1,14.9,...,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,"1 seed, ✅",0.911765
2,3,Purdue,B10,29-4,126.2,94.8,.9640,56.0,47.7,16.5,...,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,"1 seed, ✅",0.878788
3,4,Iowa St.,B12,27-7,113.5,86.7,.9569,51.9,47.1,15.7,...,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,"2 seed, ✅",0.794118
4,5,Auburn,SEC,27-7,120.7,92.2,.9569,54.1,43.4,14.9,...,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,"4 seed, ✅",0.794118

In [27]:
teams24.drop(['REC', 'SEED'], inplace=True, axis=1)

In [28]:
teams24.drop('RK', inplace=True, axis=1)

In [29]:
teams24

,TEAM,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTRD,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,WIN_PCT
0,Houston,B12,119.1,85.7,.9778,49.7,44.0,13.7,24.7,36.9,...,39.0,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,0.882353
1,Connecticut,BE,126.9,93.8,.9700,57.1,45.1,14.9,16.2,36.5,...,32.5,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,0.911765
2,Purdue,B10,126.2,94.8,.9640,56.0,47.7,16.5,14.0,37.4,...,23.0,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,0.878788
3,Iowa St.,B12,113.5,86.7,.9569,51.9,47.1,15.7,25.7,31.6,...,35.2,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,0.794118
4,Auburn,SEC,120.7,92.2,.9569,54.1,43.4,14.9,18.2,32.9,...,41.0,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,0.794118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Saint Peter's,MAAC,96.9,100.2,.4053,45.0,46.6,19.6,20.3,35.1,...,42.3,42.4,46.4,33.9,31.5,31.1,34.5,64.0,-8.8,0.612903
64,Stetson,ASun,108.3,114.1,.3545,53.4,52.0,15.8,13.5,27.5,...,25.9,52.5,52.2,36.5,34.5,41.8,37.4,66.0,-6.8,0.709677
65,Grambling St.,SWAC,97.7,106.1,.2804,48.2,49.1,20.5,19.0,28.1,...,33.9,47.0,48.4,34.1,33.7,29.8,33.4,64.9,-8.0,0.645161
66,Howard,MEAC,104.3,113.5,.2748,51.7,51.1,21.2,16.6,33.3,...,38.4,49.1,50.9,37.2,34.4,39.0,33.2,67.8,-12.1,0.545455
67,Wagner,NEC,95.6,104.8,.2565,45.1,48.3,15.8,16.9,29.1,...,30.1,43.3,50.7,32.0,29.8,38.0,41.2,61.4,-11.7,0.566667

In [31]:
teams24['YEAR'] = 2024

In [32]:
teams24.head()

,TEAM,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,.9778,49.7,44.0,13.7,24.7,36.9,...,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,.9700,57.1,45.1,14.9,16.2,36.5,...,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,.9640,56.0,47.7,16.5,14.0,37.4,...,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,0.878788,2024
3,Iowa St.,B12,113.5,86.7,.9569,51.9,47.1,15.7,25.7,31.6,...,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,.9569,54.1,43.4,14.9,18.2,32.9,...,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,0.794118,2024

In [33]:
teams24.to_csv('./data/2024_formatted.csv')